.credit_card {
	height: 154px;
	width: 281px;
	background-size: contain;
	&_back {
		position: absolute;
		top: -87px;
		left: -120px;
		background-image: url('../images/bg-card-back.png');
		.cvc {
			position: relative;
			bottom: -44%;
			left: 80%;
			width: fit-content;
			font-size: 12px;
			color: white;
		}
	}
	&_front {
		position: absolute;
		top: 0;
		left: -160px;
		background-image: url('../images/bg-card-front.png');
		.card {
			&_number {
				position: absolute;
				bottom: 30%;
				left: 8%;
				font-size: 18px;
				color: white;
			}
			&_logo {
				width: 20%;
				position: absolute;
				bottom: 67%;
				left: 8%;
			}
			&_name {
				position: absolute;
				bottom: 10%;
				left: 8%;
				font-size: 12px;
				color: white;
			}
			&_expiration {
				position: absolute;
				bottom: 10%;
				left: 75%;
				font-size: 12px;
				color: white;
			}
		}
	}
}

@media (min-width: 1200px) {
	.credit_card {
		&_back {
			top: 10px;
			left: 100px;
		}
		&_front {
			top: -150px;
			left: 40px;
		}
	}
}
